.phonetics {
    margin: 30px 0;
}

.phonetics .audio{
    border-radius: 20px;
    box-shadow: 0 5px 5px rgb(32 33 42 /20%);
    margin-right: 15px;
}


.phonetics .text {
    margin-top: 5px;
}

@media (max-width: 576px) {
    .phonetics .audio{
        width: 200px;
    }
}